@import "./variables.scss";

.about-company {
  background-color: $color-alice-blue;
}

.about-company h2 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;
  margin: 0;
  margin-bottom: 12px;
}

.about-company__discription {
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 18px;

  &--open {
    display: none;
  }
}

.about-company__wrapper {
  padding: 0 50px 125px 270px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 320px;
    background-image: url("../img/background/bg-image-2022-desktop-and-tablet.webp");
    background-repeat: no-repeat;
    left: 22px;
  }
}

.about-company button {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color-deep-sky-blue;
  text-transform: uppercase;
  background-color: $color-alice-blue;
  border: 1px solid $color-deep-sky-blue;
  letter-spacing: 0.05em;
  width: 180px;
  margin-top: 43px;
  display: block;

  &:hover {
    background-color: $color-deep-sky-blue;
    color: $color-white;
  }
}

@media (max-width: $vp-1023) {
  .about-company__wrapper {
    padding: 0 50px 83px 225px;

    &::before {
      left: 44px;
      top: 5px;
    }
  }

  .about-company button {
    margin-top: 21px;
  }

  .about-company__paragraph {
    display: block;
  }

  .about-company h2 {
    font-size: 36px;
    line-height: 51px;
  }

  .about-company__discription--first {
    display: block;
  }
}

@media (max-width: $vp-767) {
  .about-company__wrapper {
    padding: 16px 25px 78px;

    &::before {
      display: none;
    }
  }

  .about-company h2 {
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: $color-black-pearl;
    margin: 0;
    margin-bottom: 12px;
  }

  .about-company button {
    width: 160px;
    margin-top: -7px;
  }

  .about-company__discription {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 19px;

    &--open {
      display: none;
    }
  }

  .about-company__paragraph {
    display: none;
  }
}
