@import "../variables.scss";

.footer-navigation {
  margin-left: 4px;
}

.footer-navigation:last-child {
  &::before {
    display: none;
  }
}

.footer-navigation__title {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.05em;
  position: relative;
  padding: 7px 0 23px;

  &--active {
    &::before {
      display: none;
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.footer-navigation__item {
  font-size: 16px;
  line-height: 21px;
  color: $color-footer-white;
  margin-bottom: 9px;
}

.footer-navigation__item:last-child {
  padding-bottom: 21px;
}

.footer-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 0.3s;
  overflow: hidden;
  color: $color-footer-white;
}

.footer-navigation__list--site {
  column-count: 2;
  display: block;
}

.footer-navigation__link,
.footer-navigation__list-link {
  color: $color-footer-white;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: $vp-1023) {
  .footer-navigation {
    grid-template-columns: 220px 320px;
    gap: 22px;
  }

  .footer-navigation__list {
    width: 100%;

    &--site {
      display: contents;
    }
  }

  .footer-navigation,
  .footer-navigation:last-child {
    margin-left: 0;
  }

  .footer-navigation__list-wrapper {
    display: block;
  }

  .footer-navigation__title {
    padding-top: 24px;
  }

  .footer-navigation__item:last-child {
    padding-bottom: 0;
  }
}

@media (max-width: $vp-767) {
  .footer-navigation {
    position: relative;
    display: block;
    width: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: -25px;
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $color-shalimar;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: -25px;
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $color-shalimar;
    }
  }

  .footer-navigation:last-child {
    &::before {
      display: none;
    }
  }

  .footer-navigation__item:last-child {
    margin-bottom: 17px;
  }

  .footer-navigation__title {
    padding: 23px 4px 23px;

    &::after,
    &::before {
      position: absolute;
      display: block;
      content: "";
      right: 6px;
      top: 29px;
      width: 15px;
      height: 1px;
      background-color: $color-silver;
    }

    &::before {
      rotate: (90deg);
    }

    &--active {
      padding-bottom: 16px;

      &::before {
        display: none;
      }
    }
  }

  .footer-navigation__item {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
  }

  .footer-navigation__item-address {
    margin-bottom: 10px;
  }

  .footer-navigation__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 11px;
    transition: 0.3s;
    overflow: hidden;
    max-height: 0;
    padding-left: 4px;

    &--site {
      height: 100%;
    }
  }

  .footer-navigation__list-link,
  .footer-navigation__link {
    font-size: 14px;
    line-height: 19px;
  }
}
