.header {
  min-height: 650px;
  background-repeat: no-repeat;
  color: $color-alice-blue;
  position: relative;
  background-image: url("../img/bg-image-desktop.webp");
  background-size: cover;
  background-position: bottom;

  @media (min-width: $vp-1023) {
    @include retina {
      background-size: cover;
      background-image: url("../img/bg-image-desktop@2x.webp");
    }
  }

  @include vp-1023 {
    min-height: 638px;
    background: $color-neon-blue url("../img/bg-image-tablet.webp");
    background-size: cover;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/bg-image-tablet@2x.webp");
    }
  }

  @include vp-767 {
    min-height: 500px;
    background: $color-neon-blue url("../img/bg-image-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/bg-image-mobile@2x.webp");
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;

  @include vp-1023 {
    align-items: flex-start;
    padding-top: 28px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}

@include vp-767 {
  .header__wrapper--opened {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    right: 0;
    background-color: $color-alice-blue;
    width: 89%;
    height: 100%;
    margin-right: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100vw;
      background-color: $color-tangaroa-background;
      pointer-events: none;
    }
  }

  .header__wrapper--opened + .header__description {
    display: none;
  }

  .header__wrapper--opened .header__logo-image {
    fill: $color-tangaroa;
  }
}

.header__logo-image {
  fill: $color-alice-blue;

  @include vp-1023 {
    width: 38px;
    height: 20px;
    margin: 0;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.header__navigation-toogle {
  display: none;
  cursor: pointer;

  @include vp-767 {
    display: block;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 14px;
    top: 24px;
    right: 15px;
    background-image: url("../img/svg/burger-menu.svg");
  }
}

.header__navigation-toogle--closed::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 14px;
  top: 24px;
  right: 5px;
  background-image: url("../img/svg/closed.svg");
  background-repeat: no-repeat;
}

.header__navigation {
  @include vp-767 {
    display: none;
    margin-top: 36px;
    margin-left: 10px;
  }
}

.header__navigation--closed {
  @include vp-767 {
    display: block;
    color: #011c40;
    width: 100%;
    overflow: auto;
    height: 100%;
  }
}

.header__navigation--closed .header__navigation-link {
  @include vp-767 {
    color: $color-tangaroa;
  }
}

.header__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.header__navigation-item {
  padding-right: 33px;

  &:first-child {
    padding-left: 24px;
  }

  &:last-child {
    padding-right: 0;
  }

  @include vp-1023 {
    padding-right: 24px;
    padding-bottom: 26px;
  }

  @include vp-767 {
    &:first-child {
      padding-left: 0;
    }
  }
}

.header__navigation-link {
  color: $color-alice-blue;
  font-weight: 500;
  line-height: 20px;

  @include vp-1023 {
    line-height: 17px;
    font-size: 14px;
  }

  @include vp-767 {
    line-height: 22px;
    font-size: 18px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.header__description {
  margin-bottom: 30px;
}

.header__description-title {
  font-weight: 700;
  line-height: 66px;
  font-size: 54px;
  margin: 192px 0 12px 95px;
  padding: 0;

  @include vp-1023 {
    line-height: 61px;
    font-size: 50px;
    margin: 191px 0 12px;
  }

  @include vp-767 {
    line-height: 45px;
    font-size: 36px;
    margin: 127px 0 10px;
  }
}

.header__description-slogan {
  line-height: 25px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-left: 95px;

  @include vp-1023 {
    line-height: 22px;
    font-size: 18px;
    margin: 0;
  }

  @include vp-767 {
    line-height: 23px;
    font-size: 16px;
  }
}

.header__navigation--nojs {
  @include vp-767 {
    display: block;
    margin-top: 0;
  }
}

.header__navigation-toogle--nojs {
  @include vp-767 {
    display: none;
  }
}
