@import "../variables.scss";

.main-footer {
  background: $color-black-pearl;
  color: $color-white;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: auto 38.8% 28.5%;
  column-gap: 24px;
  padding: 51px 19px 65px;
}

.main-footer__logo-link {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
}

.main-footer__logo-social {
  flex-direction: column;
  min-width: 215px;
}

.main-footer__title-wrapper {
  color: $color-default-white;
}

.main-footer__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $ff-roboto-condensed;
}

.main-footer__title-small {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto;
}

@media (max-width: $vp-1023) {
  .main-footer {
    padding: 41px 0 40px;
  }

  .main-footer__wrapper {
    grid-template-columns: 48% 48%;
    column-gap: 30px;
  }

  .main-footer__logo-social {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/-1;
  }
}

@media (max-width: $vp-767) {
  .main-footer {
    padding-top: 35px;
  }

  .main-footer__wrapper {
    display: block;
  }

  .main-footer__logo-social {
    flex-direction: column;
  }
}
